@model Sklep_Internetowy.Models.Category

@{
    ViewBag.Title = "Usuń kategorię";
}



<h3>Czy na pewno chcesz usunąć tą kategorię?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy kategorii", "ListOfCategories")
        </div>
    }
</div>
