@{
    ViewBag.Title = "ShopRules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1><strong>Uwaga!!!</strong></h1>
        <p>
            Projekt i aplikacja webowa powstała na potrzeby pracy inżynierskiej.
        </p>
    </div>
  
</div>